article#portfolio{
  box-sizing: border-box;
  padding:80px 40px;
}
div#portwrap{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
div#portwrap>h2{
  width: 100%;
 font-size: 38px; 
 text-align: center;
 margin-bottom: 30px;
}

div#portwrap>ul{
  width: 89%;
}

div#portwrap>ul>li{
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}

div#portwrap>ul>li:last-child{
  margin-bottom: 80px;
}

div#portwrap>ul>li>h3{
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
}

div#portdetail{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

div#portdetail>img{
  display: block;
  max-width: 39.81481481481481%;
  padding: 6px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

div#portdetail>div{
  width: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

div#portdetail>div>dl{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 22px;
  margin: 10px 0;
  padding: 5px;
}

div#portdetail>div>dl>dt{
  width: 40%;
  line-height: 1.4em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

div#portdetail>div>dl>dt>svg{
  margin: 0 10px;
}
div#portdetail>div>dl>dd{}


@media screen and (min-width:1400px) {}
@media screen and (min-width:980px) and (max-width : 1400px) {
  article#portfolio{
    padding:80px 10px;
  }
  div#portwrap>ul{
    width: 95%;
  }
  div#portdetail>div>dl{
    font-size: 18px;
  }


}
@media screen and (min-width:580px) and (max-width : 980px) {
  article#portfolio{
    padding: 30px 0;
    height: calc(100vh - 185px);
    overflow-y: scroll;
    margin: 5px 0;
  }

  div#portwrap>ul{
    width: 96%;
  }

  div#portdetail{
    display: block;
  }

  div#portdetail>img{
    display: block;
    max-width: 45%;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  div#portdetail>div{
    width: 80%;
    margin: 0 auto;
  }

  div#portdetail>div>dl{
    margin: 5px 0;
    font-size: 18px;
  }

  div#portdetail>div>dl>dt{
    text-align: center;
  }
  div#portdetail>div>dl>dd{
    width: 60%;
    text-align: center;
  }


}
@media screen and (min-width:5px) and (max-width : 580px) {
  article#portfolio{
    padding: 30px 0;
    height: calc(100vh - 185px);
    overflow-y: scroll;
    margin: 5px 0;
  }

  div#portwrap>ul{
    width: 96%;
  }

  div#portdetail{
    display: block;
  }

  div#portdetail>img{
    display: block;
    max-width: 45%;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  div#portdetail>div{
    width: 95%;
    margin: 0 auto;
  }

  div#portdetail>div>dl{
    margin: 5px 0;
    font-size: 18px;
  }

  div#portdetail>div>dl>dt{
    text-align: center;
  }
  div#portdetail>div>dl>dd{
    width: 60%;
    text-align: center;
  }

}